@import url("reset.css");
.bar {
  display: none;
}

.pop {
  display: none;
}

.cont {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  margin: 50px auto;
}
.cont .text h4 {
  font-size: 32px;
  margin-bottom: 16px;
  line-height: 1.2;
}
.cont .text h4 img {
  width: 14px;
}
.cont .text p {
  opacity: 0.4;
  font-size: 16px;
  font-weight: 600;
}

.m-add {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  margin: 50px auto;
}
.m-add h6 {
  font-size: 16px;
  margin-bottom: 10px;
}
.m-add a {
  text-decoration: none;
  color: #bdbec0;
}
.m-add a b:hover {
  color: rgba(75, 74, 74, 0.65);
}

.follow {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  position: absolute;
  left: 50%;
  top: 40%;
}
.follow .f-text {
  margin-bottom: 30px;
}
.follow .f-text h6 {
  font-size: 16px;
}
.follow .f-icon {
  display: flex;
  justify-content: flex-start;
}
.follow .f-icon a {
  width: 42px;
  height: 42px;
  background-color: white;
  border-radius: 30px;
  margin-right: 8px;
  border: 1px solid #e5e7eb;
}
.follow .f-icon a i {
  color: #363636;
  margin: 12px;
}
.follow .f-icon a:hover {
  transition: 0.5s;
  background-color: #fde700;
}

.mo-btn {
  padding-left: 100px;
  padding-right: 100px;
}
.mo-btn .m-btn {
  border: 1px solid #bdbec0;
  background-color: white;
  width: 200px;
  display: inline-block;
}
.mo-btn .m-btn a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  padding: 18px;
  color: black;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mo-btn .m-btn a i {
  color: black;
}
.mo-btn .m-btn:hover {
  transition: 1s;
  background-color: #fde700;
}

.map {
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 80px;
}
.map a img {
  width: 100%;
}

.back1 {
  display: none;
}

@media (max-width: 992px) and (min-width: 771px) {
  header {
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    background-color: white;
    padding-left: 0;
    padding-right: 0;
  }
  .head {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .bar {
    display: flex;
    font-size: 24px;
    padding: 10px 15px;
    z-index: 1;
  }
  .menu {
    display: none;
  }
  .icon {
    display: none;
  }
  .logo {
    width: 100%;
    display: flex;
    position: absolute;
    top: 10px;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .logo a img {
    width: 40px;
    height: auto;
  }
  .pop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: none;
    font-size: 24px;
    padding-top: 8px;
  }
  .pop .text {
    color: #fff;
    position: absolute;
    left: 20px;
    bottom: 80px;
    font-size: 14px;
    font-weight: bold;
  }
  .pop .bar1 i {
    font-size: 24px;
  }
  .pop .memu1 {
    margin-top: 40px;
  }
  .pop .memu1 a {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
  }
  .pop .memu1 a:hover {
    color: #fde700;
  }
  .pop .t-icon {
    display: flex;
    align-items: flex-end;
    position: absolute;
    left: 20px;
    bottom: 30px;
  }
  .pop .t-icon .icon1 {
    padding-right: 10px;
    margin: 0 auto;
  }
  .pop .t-icon .icon1 figure {
    display: flex;
    justify-content: center;
  }
  .pop .t-icon .icon1 figure a {
    color: white;
    padding: 9px 12px 10px 12px;
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
  }
  .pop .t-icon .icon1 figure a:hover {
    background-color: #f7e733;
  }
  .pop .t-icon .icon1 figure a:hover i {
    color: black;
  }
  .pop .t-icon .icon1 figure a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .a-text {
    padding: 0px 15px;
    width: 100%;
  }
  .a-text h4 {
    font-size: 22px;
    margin: 40px 0px 16px;
    font-weight: bold;
  }
  .a-text h4 img {
    width: 14px;
    margin-top: 10px;
  }
  .a-text p {
    font-size: 14px;
    font-weight: bold;
    opacity: 0.4;
    margin-bottom: 60px;
  }
  .artists {
    padding: 0;
    height: 100%;
    max-width: 100%;
  }
  .artists ul {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .artists ul li {
    position: relative;
    padding-bottom: 15px;
  }
  .artists ul li a {
    z-index: 10;
  }
  .artists ul li a img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  .artists ul li a p {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 0%;
    top: 0%;
    opacity: 0;
    transition: 0.5s;
    background: linear-gradient(0deg, rgb(253, 231, 0) 0%, rgba(253, 231, 0, 0) 100%) !important;
  }
  .artists ul li a p span {
    max-width: 100%;
    display: block;
    font-size: 16px;
  }
  .artists ul li:hover p {
    opacity: 1;
  }
  .artists ul li:nth-of-type(4n) {
    margin-right: 0px;
  }
  /* ======================footer======================== */
  .foot {
    padding-left: 20px;
    flex-direction: column;
  }
  .logo2 a img {
    width: 150px;
    height: auto;
  }
  .add {
    padding-top: 10px;
    margin: 0;
  }
  .back {
    display: none;
  }
  .back1 {
    width: 200px;
    position: absolute;
    right: 20px;
    display: block;
  }
  .back1 a b {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 14px;
    color: #e5e7eb;
  }
  .back1 a b:hover {
    color: black;
    transition: 0.5s;
  }
  .back1 a b i {
    padding-left: 10px;
  }
  .last {
    padding-left: 20px;
  }
}
@media (max-width: 770px) {
  header {
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    background-color: white;
    padding-left: 0;
    padding-right: 0;
  }
  .head {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .bar {
    display: flex;
    font-size: 24px;
    padding: 10px 15px;
    z-index: 1;
  }
  .menu {
    display: none;
  }
  .icon {
    display: none;
  }
  .logo {
    width: 100%;
    display: flex;
    position: absolute;
    top: 10px;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .logo a img {
    width: 40px;
    height: auto;
  }
  .pop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: none;
    font-size: 24px;
    padding-top: 8px;
  }
  .pop .text {
    color: #fff;
    position: absolute;
    left: 20px;
    bottom: 80px;
    font-size: 14px;
    font-weight: bold;
  }
  .pop .bar1 i {
    font-size: 24px;
  }
  .pop .memu1 {
    margin-top: 40px;
  }
  .pop .memu1 a {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
  }
  .pop .memu1 a:hover {
    color: #fde700;
  }
  .pop .t-icon {
    display: flex;
    align-items: flex-end;
    position: absolute;
    left: 20px;
    bottom: 30px;
  }
  .pop .t-icon .icon1 {
    padding-right: 10px;
    margin: 0 auto;
  }
  .pop .t-icon .icon1 figure {
    display: flex;
    justify-content: center;
  }
  .pop .t-icon .icon1 figure a {
    color: white;
    padding: 9px 12px 10px 12px;
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
  }
  .pop .t-icon .icon1 figure a:hover {
    background-color: #f7e733;
  }
  .pop .t-icon .icon1 figure a:hover i {
    color: black;
  }
  .pop .t-icon .icon1 figure a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .a-text {
    padding: 0px 15px;
    width: 100%;
  }
  .a-text h4 {
    font-size: 22px;
    margin: 40px 0px 16px;
    font-weight: bold;
  }
  .a-text h4 img {
    width: 14px;
    margin-top: 10px;
  }
  .a-text p {
    font-size: 14px;
    font-weight: bold;
    opacity: 0.4;
    margin-bottom: 60px;
  }
  .artists {
    padding: 0;
  }
  .artists ul {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
  }
  .artists ul li {
    position: relative;
    padding-bottom: 15px;
  }
  .artists ul li a {
    z-index: 10;
  }
  .artists ul li a img {
    max-width: 100%;
    height: 406px;
  }
  .artists ul li a p {
    height: 406px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 0%;
    top: 0%;
    opacity: 0;
    transition: 0.5s;
    background: linear-gradient(0deg, rgb(253, 231, 0) 0%, rgba(253, 231, 0, 0) 100%) !important;
  }
  .artists ul li a p span {
    display: block;
    font-size: 16px;
  }
  .artists ul li:hover p {
    opacity: 1;
  }
  .artists ul li:nth-of-type(4n) {
    margin-right: 0px;
  }
  /* ======================footer======================== */
  .foot {
    padding-left: 20px;
    flex-direction: column;
  }
  .logo2 a img {
    width: 150px;
    height: auto;
  }
  .add {
    padding-top: 10px;
    margin: 0;
  }
  .back {
    display: none;
  }
  .back1 {
    width: 200px;
    position: absolute;
    right: 20px;
    display: block;
  }
  .back1 a b {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 14px;
    color: #e5e7eb;
  }
  .back1 a b:hover {
    color: black;
    transition: 0.5s;
  }
  .back1 a b i {
    padding-left: 10px;
  }
  .last {
    padding-left: 20px;
  }
}/*# sourceMappingURL=contact.css.map */