@import url("reset.css");
header {
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.head {
  width: 100%;
  margin: 0 auto;
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 35px 0;
}
.logo a img {
  width: 60px;
  height: 60px;
}

.menu {
  flex-grow: 1;
  margin-left: 60px;
  padding-right: 10px;
}
.menu a {
  font-size: 15px;
  font-weight: bold;
  padding-right: 20px;
  color: black;
  text-decoration: none;
}

.menu a:hover {
  color: #bdbec0;
}

.icon {
  display: flex;
  justify-content: end;
  height: 30px;
}
.icon a {
  color: black;
  padding-right: 20px;
}
.icon a img {
  margin-top: 4px;
  width: 14px;
  height: 15px;
}

.icon a:hover {
  color: gray;
}

.icon a:nth-of-type(4) i {
  font-weight: 900;
}

/* ===============================main========================================= */
.m-1 {
  padding-left: 100px;
  padding-right: 100px;
}
.m-1 .a-about h4 {
  font-size: 30px;
  margin-bottom: 16px;
}
.m-1 .a-about h4 img {
  margin-top: 7px;
  width: 14px;
}
.m-1 .a-about p {
  opacity: 0.4;
}
.m-1 .a-btn {
  margin: 70px 0px;
  padding: 20px 20px;
  width: 260px;
  border: 1px solid black;
}
.m-1 .a-btn a {
  font-size: 16px;
  display: block;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-weight: bold;
}
.m-1 .a-btn a i {
  padding-left: 100px;
}

.a-btn:hover {
  transition: 1s;
  background-color: #fde700;
}

/* ====================================feed=============================== */
.feed {
  padding-left: 100px;
  padding-right: 100px;
  height: 100vh;
  background-color: #fafafa;
  margin: 100px auto;
}
.feed h4 {
  padding: 100px 0 50px;
  font-size: 32px;
}
.feed h4 img {
  margin-top: 7px;
  width: 14px;
}
.feed ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.feed ul li {
  position: relative;
}
.feed ul li a {
  width: 100%;
  height: 100%;
  display: block;
}
.feed ul li a img {
  flex-grow: 1;
  margin: 2px;
  width: 330px;
  height: 330px;
}
.feed ul li .ho {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.225);
  opacity: 0;
}
.feed ul li:hover .ho {
  opacity: 1;
}

/* =================================m-2==================================== */
.m-2 {
  padding-left: 100px;
  padding-right: 100px;
  /* .btn3{
      .swiper-button-prev{
      background-color: #fcfafa;
      border: 1px solid black;
      border-radius: 70%;
      color: black;}
      .swiper-button-prev::after{
          content: 'aaa';
          display: none;
          font-size: 10px;
      }
      .swiper-button-next{
          background-color: #fcfafa;
          border: 1px solid black;
          border-radius: 70%;
          color: black;
      }
  } */
}
.m-2 .a-artist h4 {
  font-size: 32px;
  margin-bottom: 16px;
}
.m-2 .a-artist p {
  opacity: 0.4;
}
.m-2 .a-artist img {
  margin-top: 7px;
  width: 14px;
}
.m-2 .a-btn1 {
  width: 260px;
  margin: 70px 0px;
  padding: 0px;
  border: 1px solid black;
}
.m-2 .a-btn1 a {
  font-size: 16px;
  display: block;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.m-2 .a-btn1 a i {
  padding-right: 10px;
}
.m-2 .a-btn1:hover {
  transition: 1s;
  background-color: #fde700;
}
.m-2 .artist {
  width: 100%;
  overflow: hidden;
}
.m-2 .artist ul {
  width: 1740px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.m-2 .artist ul li {
  width: 100%;
  position: relative;
}
.m-2 .artist ul li a img {
  width: 406px;
  height: 406px;
}
.m-2 .artist ul li p {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 24px;
  color: #fff;
  position: absolute;
  left: 0%;
  top: 0%;
  opacity: 0;
  transition: 0.5s;
  background: linear-gradient(0deg, rgb(253, 231, 0) 0%, rgba(253, 231, 0, 0) 100%) !important;
}
.m-2 .artist ul li p span {
  display: block;
  font-size: 16px;
}
.m-2 .artist ul li:hover p {
  opacity: 1;
}

/* ==========================================footer============================ */
.foot {
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  padding: 50px 90px 0px;
}

.logo2 a img {
  width: 200px;
  height: 33px;
}

.add {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 500px;
}
.add h6 {
  font-size: 16px;
  margin-bottom: 10px;
}
.add a {
  text-decoration: none;
  color: #bdbec0;
}
.add a b:hover {
  color: rgba(75, 74, 74, 0.65);
}

.btn2 {
  margin: 30px 0;
  border: 1px solid #bdbec0;
  background-color: white;
  width: 260px;
}
.btn2 a {
  font-size: 14px;
  display: block;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.btn2 a i {
  padding-left: 100px;
  color: black;
}

.btn2:hover {
  transition: 1s;
  background-color: #fde700;
}

.back {
  display: flex;
  justify-content: end;
}
.back a {
  font-weight: bold;
  text-decoration: none;
}
.back a b {
  font-size: 17px;
  text-decoration: none;
  color: rgba(24, 23, 23, 0.65);
}
.back a b:hover {
  color: black;
}

.last {
  width: 100%;
  height: 100px;
  padding: 20px 80px;
  background-color: #fafafa;
}
.last h6 {
  font-size: 16px;
  border-top: 1px solid #e5e7eb;
  padding-top: 30px;
}/*# sourceMappingURL=index.css.map */