@import "rest.css";
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inter:wght@100;200;300;400;500&family=Noto+Sans+KR:wght@400;500;700&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600&family=Oswald:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
}

.head {
  width: 1700px;
  margin: 0 auto;
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 40px 0;
}
.logo a img {
  width: 60px;
  height: 60px;
}

.menu {
  flex-grow: 1;
  margin-left: 50px;
  padding-right: 10px; 
}
.menu a {
  font-weight: 600;
  padding-right: 20px;
  color: black;
  text-decoration: none;
  
}
.menu a:hover {opacity: 0.4;}
.icon {
  display: flex;
  justify-content: end;
  height: 30px;
}
.icon a {
  color: black;
  padding-right: 20px;
}
.icon a img {
  margin-top: 4px;
  width: 14px;
  height: 15px;
}

.icon a i:hover{
  color: gray;
}
.icon a img:hover{
  color: gray;
}
/* ===============================main========================================= */
.video {
  margin: 0 100px;
}
.a-about {
  margin: 0 100px;
}
.a-about h4 {
  font-size: 30px;
  margin-bottom: 16px;
}
.a-about h4 img {
  margin-top: 7px;
  width: 14px;
}
.a-about p {
  opacity: 0.4;
}

.a-btn {
  margin: 70px 100px;
  padding: 20px 20px;
  width: 260px;
  border: 1px solid black;
}
.a-btn p {
  font-weight: bold;
}
.a-btn p a i {
  padding-left: 100px;
}

.a-btn:hover {
  transition: 1s;
  background-color: #fde700;
}

.feed {
  width: 100%;
  height: 110vh;
  background-color: #fafafa;
  margin: 220px auto;
}
.feed h4 {
  margin: 0 110px;
  padding: 100px 0 50px;
  font-size: 32px;
}
.feed h4 img {
  margin-top: 7px;
  width: 14px;
}
.feed ul {
  width: 1740px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 90px;
  padding: 20px;
}
.feed ul li a img {
  flex-grow: 1;
  padding: 3px 0;
  width: 420px;
  height: 370px;
}

.a-artist {
  margin: 0 100px;
}
.a-artist h4 {
  font-size: 32px;
  margin-bottom: 16px;
}
.a-artist p {
  opacity: 0.4;
}
.a-artist img {
  margin-top: 7px;
  width: 14px;
}

.a-btn1 {
  margin: 70px 100px;
  padding: 20px 20px;
  width: 260px;
  border: 1px solid black;
}
.a-btn1 p {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.a-btn1 p a i {
  padding-right: 10px;
}

.a-btn1:hover {
  transition: 1s;
  background-color: #fde700;
}

.artist ul {
  width: 1740px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 80px;
}
.artist ul li a img {
  width: 406px;
  height: 406px;
  padding: 0 10px;
}

/* ==========================================footer============================ */
.foot {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  padding: 50px 90px 0px;
}

.logo2 a img {
  width: 200px;
  height: 33px;
}

.add {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 500px;
}
.add h6 {
  font-size: 16px;
  margin-bottom: 10px;
}
.add a {
  text-decoration: none;
}
.add a i {
  color: #bdbec0;
}
.btn2 {
  margin: 30px 0;
  padding: 20px 15px;
  width: 260px;
  border: 1px solid #bdbec0;
  background-color: white;
  display: flex;
  justify-content: start;
}
.btn2 p {
  font-size: 14px;
}
.btn2 p a i {
  padding-left: 90px;
}

.btn2:hover {
  transition: 1s;
  background-color: #fde700;
}

.back {
  display: flex;
  justify-content: end;
}
.back a {
  font-weight: bold;
  text-decoration: none;
}
.back a b {
  font-size: 16px;
  text-decoration: none;
  color: rgba(54, 54, 54, 0.65);
}
.last {
  width: 100%;
  height: 100px;
  padding: 20px 80px;
  background-color: #fafafa;
}
.last h6 {
  font-size: 16px;
  border-top: 1px solid #e5e7eb;
  padding-top: 30px;
}/*# sourceMappingURL=index.css.map */