@import url("reset.css");
header {
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 3;
}

.head {
  width: 100%;
  margin: 0 auto;
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
}
.head .pop {
  display: none;
}

.bar {
  display: none;
}

.logo {
  padding: 35px 0;
}
.logo a img {
  width: 60px;
  height: 60px;
}

.menu {
  flex-grow: 1;
  margin-left: 60px;
  padding-right: 10px;
}
.menu a {
  font-size: 15px;
  font-weight: bold;
  padding-right: 20px;
  color: black;
  text-decoration: none;
}

.menu a:hover {
  color: #bdbec0;
}

.icon {
  display: flex;
  justify-content: end;
  height: 30px;
}
.icon a {
  color: black;
  padding-right: 20px;
}
.icon a img {
  margin-top: 4px;
  width: 14px;
  height: 15px;
}

.icon a:hover {
  color: gray;
}

.icon a:nth-of-type(4) i {
  font-weight: 900;
}

/* ===============================main========================================= */
.m-1 {
  padding-left: 100px;
  padding-right: 100px;
}
.m-1 .video {
  position: relative;
  padding-bottom: 56.25%;
}
.m-1 .video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
.m-1 .a-about h4 {
  font-size: 30px;
  margin-bottom: 16px;
}
.m-1 .a-about h4 img {
  margin-top: 7px;
  width: 14px;
}
.m-1 .a-about p {
  font-weight: bold;
  opacity: 0.5;
}
.m-1 .a-btn {
  margin: 70px 0px;
  padding: 20px 20px;
  width: 260px;
  border: 1px solid #e5e7eb;
}
.m-1 .a-btn a {
  font-size: 16px;
  display: block;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-weight: bold;
}
.m-1 .a-btn a i {
  padding-left: 100px;
}

.a-btn:hover {
  transition: 1s;
  background-color: #fde700;
}

/* ====================================feed=============================== */
.feed {
  padding-left: 100px;
  padding-right: 100px;
  height: 100%;
  background-color: #fafafa;
  margin: 100px auto;
}
.feed h4 {
  padding: 100px 0 50px;
  font-size: 32px;
}
.feed h4 img {
  margin-top: 7px;
  width: 14px;
}
.feed ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.feed ul li {
  position: relative;
}
.feed ul li a {
  display: flex;
}
.feed ul li a img {
  flex-grow: 1;
  margin-bottom: 15px;
  width: 250px;
  height: 330px;
}
.feed ul li .ho {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.225);
  opacity: 0;
}
.feed ul li:hover .ho {
  opacity: 1;
}

/* =================================m-2==================================== */
.m-2 {
  padding-left: 100px;
  padding-right: 100px;
  /* ===================================slide================================ */
}
.m-2 .a-artist h4 {
  font-size: 32px;
  margin-bottom: 16px;
}
.m-2 .a-artist p {
  font-weight: bold;
  opacity: 0.5;
}
.m-2 .a-artist img {
  margin-top: 7px;
  width: 14px;
}
.m-2 .a-btn1 {
  width: 260px;
  margin: 70px 0px;
  padding: 0px;
  border: 1px solid #e5e7eb;
}
.m-2 .a-btn1 a {
  font-size: 16px;
  display: block;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.m-2 .a-btn1 a i {
  padding-right: 10px;
}
.m-2 .a-btn1:hover {
  transition: 1s;
  background-color: #fde700;
}
.m-2 .swiper {
  width: 100%;
  height: 100%;
}
.m-2 .swiper .swiper-wrapper {
  transition-timing-function: linear;
}
.m-2 .swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  /* display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex; */
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
}
.m-2 .swiper .swiper-wrapper .swiper-slide a img {
  display: block;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}
.m-2 .swiper .swiper-wrapper .swiper-slide p {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  position: absolute;
  left: 0%;
  top: 0%;
  opacity: 0;
  transition: 0.5s;
  background: linear-gradient(0deg, rgb(253, 231, 0) 0%, rgba(253, 231, 0, 0) 100%) !important;
}
.m-2 .swiper .swiper-wrapper .swiper-slide p span {
  display: block;
  font-size: 16px;
}
.m-2 .swiper .swiper-wrapper .swiper-slide:hover p {
  opacity: 1;
}

.btn .swiper-button-next {
  width: 35px;
  height: 35px;
  color: white;
  border-radius: 50%;
  background-color: rgba(54, 54, 54, 0.5);
  transform: translateX(-100%);
}
.btn .swiper-button-prev {
  width: 35px;
  height: 35px;
  color: white;
  border-radius: 50%;
  background-color: rgba(54, 54, 54, 0.5);
  transform: translateX(10%);
}
.btn .swiper-button-next:after {
  font-size: 15px;
  font-weight: bold;
}
.btn .swiper-button-prev:after {
  font-size: 15px;
  font-weight: bold;
}
.btn .swiper-button-next:hover {
  transition: 1s;
  background-color: #fde700;
}
.btn .swiper-button-prev:hover {
  transition: 1s;
  background-color: #fde700;
}

/* ===================================slide================================ */
/* ==========================================footer============================ */
.foot {
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  padding: 50px 90px 0px;
}

.logo2 a img {
  width: 200px;
  height: 33px;
}

.add {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0 auto;
}
.add h6 {
  font-size: 16px;
  margin-bottom: 10px;
}
.add a {
  text-decoration: none;
  color: #bdbec0;
}
.add a b:hover {
  color: rgba(75, 74, 74, 0.65);
}

.btn2 {
  margin: 30px 0;
  border: 1px solid #e5e7eb;
  background-color: white;
  width: 260px;
}
.btn2 a {
  font-size: 14px;
  display: block;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.btn2 a i {
  padding-left: 100px;
  color: black;
}

.btn2:hover {
  transition: 1s;
  background-color: #fde700;
}

.back {
  display: flex;
  justify-content: end;
}
.back a {
  font-weight: bold;
  text-decoration: none;
}
.back a b {
  font-size: 17px;
  text-decoration: none;
  color: rgba(24, 23, 23, 0.65);
}
.back a b:hover {
  color: black;
}

.back1 {
  display: none;
}

.last {
  width: 100%;
  height: 100px;
  padding: 20px 80px;
  background-color: #fafafa;
}
.last h6 {
  font-size: 16px;
  border-top: 1px solid #e5e7eb;
  padding-top: 30px;
}

@media (max-width: 1129px) {
  .m-1 .a-about h4 br {
    display: none;
  }
}
@media (max-width: 992px) and (min-width: 771px) {
  header {
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    background-color: white;
    padding-left: 10px;
    padding-right: 0;
  }
  .head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .bar {
    display: flex;
    font-size: 24px;
    padding-top: 10px;
    z-index: 1;
  }
  .menu {
    display: none;
  }
  .icon {
    display: none;
  }
  .logo {
    display: flex;
    position: absolute;
    top: 10px;
    left: 50%;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .logo a img {
    width: 40px;
    height: auto;
  }
  .pop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    font-size: 24px;
    padding-top: 8px;
  }
  .pop .text {
    color: #fff;
    position: absolute;
    left: 20px;
    bottom: 80px;
    font-size: 14px;
    font-weight: bold;
  }
  .pop .bar1 i {
    font-size: 24px;
  }
  .pop .memu1 {
    margin-top: 40px;
  }
  .pop .memu1 a {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
  }
  .pop .memu1 a:hover {
    color: #fde700;
  }
  .pop .t-icon {
    display: flex;
    align-items: flex-end;
    position: absolute;
    left: 20px;
    bottom: 30px;
  }
  .pop .t-icon .icon1 {
    padding-right: 10px;
    margin: 0 auto;
  }
  .pop .t-icon .icon1 figure {
    display: flex;
    justify-content: center;
  }
  .pop .t-icon .icon1 figure a {
    color: white;
    padding: 9px 12px 10px 12px;
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
  }
  .pop .t-icon .icon1 figure a:hover {
    background-color: #f7e733;
  }
  .pop .t-icon .icon1 figure a:hover i {
    color: black;
  }
  .pop .t-icon .icon1 figure a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .m-1 {
    padding: 0;
  }
  .m-1 .video {
    position: relative;
    padding-bottom: 56.25%;
  }
  .m-1 .video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .m-1 .a-about {
    padding: 20px;
  }
  .m-1 .a-btn {
    margin: 20px;
  }
  .feed {
    padding: 0;
    height: auto;
    padding: 20px;
    max-width: 100%;
  }
  .feed ul {
    display: flex;
    justify-content: flex-start;
    height: 1000px;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .feed ul li {
    position: relative;
    width: 33%;
    overflow: hidden;
  }
  .feed ul li a img {
    max-width: 100%;
    object-fit: cover;
  }
  .feed ul li a .ho {
    width: 100%;
  }
  .m-2 {
    padding: 0;
  }
  .m-2 .a-artist {
    padding: 20px;
  }
  .m-2 .a-btn1 {
    margin: 20px !important;
  }
  .m-2 .swiper {
    max-width: 100%;
    height: 100%;
  }
  .m-2 .swiper .swiper-wrapper {
    transition-timing-function: linear;
  }
  .m-2 .swiper .swiper-wrapper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    /* display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex; */
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
  }
  .m-2 .swiper .swiper-wrapper .swiper-slide a img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  .m-2 .swiper .swiper-wrapper .swiper-slide a p {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 0%;
    top: 0%;
    opacity: 0;
    transition: 0.5s;
    background: linear-gradient(0deg, rgb(253, 231, 0) 0%, rgba(253, 231, 0, 0) 100%) !important;
  }
  .m-2 .swiper .swiper-wrapper .swiper-slide a p span {
    max-width: 100%;
    display: block;
    font-size: 16px;
  }
  .m-2 .swiper .swiper-wrapper .swiper-slide:hover p {
    opacity: 1;
  }
  .m-2 .btn .swiper-button-next {
    width: 35px;
    height: 35px;
    color: white;
    border-radius: 50%;
    background-color: rgba(54, 54, 54, 0.5);
    transform: translateX(0%);
  }
  .m-2 .btn .swiper-button-prev {
    width: 35px;
    height: 35px;
    color: white;
    border-radius: 50%;
    background-color: rgba(54, 54, 54, 0.5);
    transform: translateX(-10%);
  }
  .m-2 .btn .swiper-button-next:after {
    font-size: 15px;
    font-weight: bold;
  }
  .m-2 .btn .swiper-button-prev:after {
    font-size: 15px;
    font-weight: bold;
  }
  .m-2 .btn .swiper-button-next:hover {
    transition: 1s;
    background-color: #fde700;
  }
  .m-2 .btn .swiper-button-prev:hover {
    transition: 1s;
    background-color: #fde700;
  }
  .foot {
    padding-left: 20px;
    flex-direction: column;
  }
  .logo2 a img {
    width: 150px;
    height: auto;
  }
  .add {
    padding-top: 10px;
    margin: 0;
  }
  .back {
    display: none;
  }
  .back1 {
    width: 200px;
    position: absolute;
    right: 20px;
    display: block;
  }
  .back1 a b {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 14px;
    color: #e5e7eb;
  }
  .back1 a b:hover {
    color: black;
    transition: 0.5s;
  }
  .back1 a b i {
    padding-left: 10px;
  }
  .last {
    padding-left: 20px;
  }
}
/* ================================mobile==================================== */
@media (max-width: 770px) {
  header {
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    background-color: white;
    padding-left: 10px;
    padding-right: 0;
  }
  .head {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .bar {
    display: flex;
    font-size: 24px;
    padding-top: 14px;
    z-index: 1;
  }
  .menu {
    display: none;
  }
  .icon {
    display: none;
  }
  .logo {
    width: 100%;
    display: flex;
    position: absolute;
    top: 10px;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .logo a img {
    width: 40px;
    height: auto;
  }
  .pop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    font-size: 24px;
    padding-top: 8px;
  }
  .pop .text {
    color: #fff;
    position: absolute;
    left: 20px;
    bottom: 80px;
    font-size: 14px;
    font-weight: bold;
  }
  .pop .bar1 i {
    font-size: 24px;
  }
  .pop .memu1 {
    margin-top: 40px;
  }
  .pop .memu1 a {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
  }
  .pop .memu1 a:hover {
    color: #fde700;
  }
  .pop .t-icon {
    display: flex;
    align-items: flex-end;
    position: absolute;
    left: 20px;
    bottom: 30px;
  }
  .pop .t-icon .icon1 {
    padding-right: 10px;
    margin: 0 auto;
  }
  .pop .t-icon .icon1 figure {
    display: flex;
    justify-content: center;
  }
  .pop .t-icon .icon1 figure a {
    color: white;
    padding: 9px 12px 10px 12px;
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
  }
  .pop .t-icon .icon1 figure a:hover {
    background-color: #f7e733;
  }
  .pop .t-icon .icon1 figure a:hover i {
    color: black;
  }
  .pop .t-icon .icon1 figure a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .m-1 {
    padding: 0;
  }
  .m-1 .video {
    position: relative;
    padding-bottom: 56.25%;
  }
  .m-1 .video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .m-1 .a-about {
    padding: 20px;
  }
  .m-1 .a-btn {
    margin: 20px;
  }
  .feed {
    padding: 0;
    height: auto;
    padding: 20px;
    max-width: 100%;
  }
  .feed ul {
    display: flex;
    justify-content: flex-start;
    height: 1000px;
    overflow: hidden;
  }
  .feed ul li {
    position: relative;
    width: 50%;
    height: auto;
  }
  .feed ul li a img {
    max-width: 100%;
    object-fit: cover;
  }
  .m-2 {
    padding: 0;
  }
  .m-2 .a-artist {
    padding: 20px;
  }
  .m-2 .a-btn1 {
    margin: 20px !important;
  }
  .m-2 .swiper {
    max-width: 100%;
    height: 100%;
  }
  .m-2 .swiper .swiper-wrapper {
    transition-timing-function: linear;
  }
  .m-2 .swiper .swiper-wrapper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    /* display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex; */
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
  }
  .m-2 .swiper .swiper-wrapper .swiper-slide a img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  .m-2 .swiper .swiper-wrapper .swiper-slide a p {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 0%;
    top: 0%;
    opacity: 0;
    transition: 0.5s;
    background: linear-gradient(0deg, rgb(253, 231, 0) 0%, rgba(253, 231, 0, 0) 100%) !important;
  }
  .m-2 .swiper .swiper-wrapper .swiper-slide a p span {
    max-width: 100%;
    display: block;
    font-size: 16px;
  }
  .m-2 .swiper .swiper-wrapper .swiper-slide:hover p {
    opacity: 1;
  }
  .m-2 .btn .swiper-button-next {
    width: 25px;
    height: 25px;
    color: white;
    border-radius: 50%;
    background-color: rgba(54, 54, 54, 0.5);
    transform: translateX(10%);
  }
  .m-2 .btn .swiper-button-prev {
    width: 25px;
    height: 25px;
    color: white;
    border-radius: 50%;
    background-color: rgba(54, 54, 54, 0.5);
    transform: translateX(-10%);
  }
  .m-2 .btn .swiper-button-next:after {
    font-size: 10px;
    font-weight: bold;
  }
  .m-2 .btn .swiper-button-prev:after {
    font-size: 10px;
    font-weight: bold;
  }
  .m-2 .btn .swiper-button-next:hover {
    transition: 1s;
    background-color: #fde700;
  }
  .m-2 .btn .swiper-button-prev:hover {
    transition: 1s;
    background-color: #fde700;
  }
  .foot {
    padding-left: 20px;
    flex-direction: column;
  }
  .logo2 a img {
    width: 100px;
    height: auto;
  }
  .add {
    padding-top: 10px;
    margin: 0;
  }
  .back {
    display: none;
  }
  .back1 {
    width: 200px;
    position: absolute;
    right: 20px;
    display: block;
  }
  .back1 a b {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 14px;
    color: #e5e7eb;
  }
  .back1 a b:hover {
    color: black;
    transition: 0.5s;
  }
  .back1 a b i {
    padding-left: 10px;
  }
  .last {
    padding-left: 20px;
  }
}/*# sourceMappingURL=index.css.map */