@media (min-width:200px) and (max-width : 1454px) {
    .t-text br{
        display: none !important;
    }
}
@media (max-width: 992px) and (min-width: 771px){
    header{
        width: 100%;
        height: 60px;
        position: sticky;
        top:0;      
        background-color: white;
        padding-left: 10px;
        padding-right: 0; 
    }
    .head{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .bar{
        display: flex;
        font-size: 24px;
        padding-top: 10px;
        z-index: 1;
        
    }
    .menu{
        display: none;
    }
    .icon{
        display: none;
    }
    
    .logo{
        display: flex;
        position: absolute;
        top: 5px;
        left: 45%;
        justify-content: center;
        align-items: center;
        padding: 0;
        a{
            img{
                width: 50px;
                height: auto;
            }
        }
    }
    .pop{
        position: fixed;
        left: 0; top: 0;
        width: 100%;
        height: 100%;
        background-color: #363636;
        display: none;
        font-size: 24px;
        padding-top: 8px;
        
        .text{
            color: #fff;
            position: absolute;
            left: 20px;
            bottom: 80px;
            font-size: 14px;
            font-weight: bold;
        }
        .bar1{
            i{
                font-size: 24px;
            }
        }
        .memu1{
            margin-top: 40px;
            a{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: flex-start;
            color: white;
            font-weight: bold;
            padding: 10px 20px;
            &:hover{
                color: #fde700;
            }
            }  
        }
        .t-icon{
            display: flex;
            align-items: flex-end;
            position: absolute;
            left:20px;
            bottom: 30px;
            .icon1{
                padding-right: 10px;
                margin: 0 auto;
                figure{
                    display: flex;
                    justify-content: center;
                    a{
                        color: white;
                        padding: 9px 12px 10px 12px;
                        font-size: 14px;
                        border: 1px solid #fff;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        position: relative;
                        &:hover{
                            background-color: #f7e733;
                            i{
                                color: black;
                            }
                        }
                        i{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                        }
                    }
                }
            }
        }
        
    }
    /* ======================main====== */
    main{
        padding: 15px;
        .name{
            margin-top: 50px;
            h3{
                font-size: 28px;
                margin: 20px 0px 12px;
            }
            p{
                font-size: 14px;
                margin-left: 2px;
            }
        }
        .web{
            p{
                color: black;
            }
        }
    }
    .t-text{
        margin: 0;
        padding: 0px 20px;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        h5{
            font-size: 21px;
            padding: 40px 0px;
        }
        p{
            font-size: 14px;
        }
    }
    .t-text br{
        display: none !important;
    }
    .t-al{
    .swiper {
        max-width: 100%;
        .swiper-wrapper {
            transition-timing-function: linear;
            .swiper-slide {
                font-size: 18px;
                background: #fff;
                a{   
                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
                p {
                    color: black;
                    height: 100px;
                }
                }
            }
        }
    }
    }
    
    .btn{
        display: none;
        .swiper-button-next{
            width: 35px;
            height: 35px;
            color: white;
            border-radius: 50%;
            background-color: rgba(54, 54, 54, 0.5);
            transform:translateX(-10%);
        }
        .swiper-button-prev {
            width: 35px;
            height: 35px;
            color: white;
            border-radius: 50%;
            background-color: rgba(54, 54, 54, 0.5);
            transform:translateX(-10%);
        }
        .swiper-button-next:after{
            font-size: 15px;
            font-weight: bold;
            position: fixed;
        }
        .swiper-button-prev:after{
            font-size: 15px;
            font-weight: bold;
        }
        .swiper-button-next:hover{
            transition: 1s;
            background-color: #fde700;
        }
        .swiper-button-prev:hover{
            transition: 1s;
            background-color: #fde700;
        }
    }
    .t-vid{
        height: auto;
    .vid{
        height: 100%;
        ul{
            li{
                a{
                    img{
                        max-width: 100%;
                        height: auto;
                    }
                    p{
                        color: black;
                    }
                }
            }
        }
    }
    }
    .concert1{
        ul{
            li{
                a{
                    img{
                        max-width: 100%;
                    }
                    h5{
                        color: black;
                    }
                    p{
                        color: black;
                    }
                }
            }
        }
    }
    .content{
        border-top: 1px solid black;
        h5{
            margin: 10px 0px;
            font-size: 16px;
            font-weight: bold;
        }
        .swiper1 {
            max-width: 100%;
            .swiper-wrapper {
                transition-timing-function: linear;
                .swiper-slide {
                    font-size: 18px;
                    background: #fff;
                    a{   
                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                    }
                    p {
                        color: black;
                    }
                    }
                }
            }
        }
        .btn1{
            display: none;
        }
    }
    /* ======================footer======================== */
    .foot{
        padding-left: 20px ;
        flex-direction: column;
    }
    .logo2 {
        a {
            img {
                width: 150px;
                height: auto;
            }
        }
    }
    .add{
        padding-top: 10px;
        margin: 0;
    }
    .back{
        display: none;
    }
    .back1{
        width: 200px;
        position: absolute;
        right: 20px;
        display: block;
        a{
            b{
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                font-size: 14px;
                color: #e5e7eb;
                &:hover{
                    color: black;
                    transition: 0.5s;
                }
            i{
                padding-left: 10px;
            }
            }
        }
    }
    .last{
        padding-left: 20px;
    }
}
/* =======================mobile======= */
@media (max-width: 770px){
    header{
        width: 100%;
        height: 60px;
        position: sticky;
        top:0;      
        background-color: white;
        padding-left: 10px;
        padding-right: 0; 
    }
    .head{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .bar{
        display: flex;
        font-size: 24px;
        padding-top: 10px;
        z-index: 1;
        
    }
    .menu{
        display: none;
    }
    .icon{
        display: none;
    }
    
    .logo{
        display: flex;
        position: absolute;
        top: 5px;
        left: 45%;
        justify-content: center;
        align-items: center;
        padding: 0;
        a{
            img{
                width: 50px;
                height: auto;
            }
        }
    }
    .pop{
        position: fixed;
        left: 0; top: 0;
        width: 100%;
        height: 100%;
        background-color: #363636;
        display: none;
        font-size: 24px;
        padding-top: 8px;
        
        .text{
            color: #fff;
            position: absolute;
            left: 20px;
            bottom: 80px;
            font-size: 14px;
            font-weight: bold;
        }
        .bar1{
            i{
                font-size: 24px;
            }
        }
        .memu1{
            margin-top: 40px;
            a{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: flex-start;
            color: white;
            font-weight: bold;
            padding: 10px 20px;
            &:hover{
                color: #fde700;
            }
            }  
        }
        .t-icon{
            display: flex;
            align-items: flex-end;
            position: absolute;
            left:20px;
            bottom: 30px;
            .icon1{
                padding-right: 10px;
                margin: 0 auto;
                figure{
                    display: flex;
                    justify-content: center;
                    a{
                        color: white;
                        padding: 9px 12px 10px 12px;
                        font-size: 14px;
                        border: 1px solid #fff;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        position: relative;
                        &:hover{
                            background-color: #f7e733;
                            i{
                                color: black;
                            }
                        }
                        i{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                        }
                    }
                }
            }
        }
        
    }
    /* ======================main====== */
    main{
        padding: 15px;
        .name{
            margin-top: 50px;
            h3{
                font-size: 28px;
                margin: 20px 0px 12px;
            }
            p{
                font-size: 14px;
                margin-left: 2px;
            }
        }
        .web{
            p{
                color: black;
            }
        }
    }
    .t-text{
        margin: 0;
        padding: 0px 20px;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        h5{
            font-size: 21px;
            padding: 40px 0px;
        }
        p{
            font-size: 14px;
        }
    }
    .t-text br{
        display: none !important;
    }
    .t-al{
        
    .swiper {
        max-width: 100%;
        height: 100%;
        .swiper-wrapper {
            transition-timing-function: linear;
        .swiper-slide {
            font-size: 18px;
            background: #fff;
            a{   
                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
                p {
                    color: black;
                    height: 70px;
                }
                }
            }
            }
        }
    }
    .btn{
        display: none;
    }
    .t-vid{
    .vid{
        ul{
            li{
                a{
                    img{
                        max-width: 100%;
                        height: auto;
                    }
                    p{
                        color: black;
                    }
                }
            }
        }
    }
}
    .concert{
    .concert1{
        ul{
            height: auto;
            li{
                a{
                    img{
                        max-width: 100%;
                        height: auto;
                    }
                    h5{
                        color: black;
                    }
                    p{
                        color: black;
                    }
                }
            }
        }
    }
}
    .content{
        border-top: 1px solid black;
        h5{
            margin: 10px 0px;
            font-size: 16px;
            font-weight: bold;
        }
            .swiper1 {
                max-width: 100%;
                height: 100%;
                .swiper-wrapper {
                    transition-timing-function: linear;
                .swiper-slide {
                    font-size: 18px;
                    background: #fff;
                    a{   
                        img {
                            width: 100%;
                            height: auto;
                            object-fit: cover;
                        }
                        p {
                            color: black;
                        }
                    }
                }
                }
            }
        .btn1{
            display: none;
        }
        
    }
    /* ======================footer======================== */
    .foot{
        padding-left: 20px ;
        flex-direction: column;
    }
    .logo2 {
        a {
            img {
                width: 150px;
                height: auto;
            }
        }
    }
    .add{
        padding-top: 10px;
        margin: 0;
    }
    .back{
        display: none;
    }
    .back1{
        width: 200px;
        position: absolute;
        right: 20px;
        display: block;
        a{
            b{
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                font-size: 14px;
                color: #e5e7eb;
                &:hover{
                    color: black;
                    transition: 0.5s;
                }
            i{
                padding-left: 10px;
            }
            }
        }
    }
    .last{
        padding-left: 20px;
    }
}