@import url('reset.css');
@mixin pa{
    padding-left: 100px;
    padding-right: 100px;
}
$wid:100%;
$hie:100;
.bar{
    display: none;
}
.pop{
    display: none;
}
.a-text{
    @include pa();
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    h4{
        font-size: 32px;
        margin: 40px 0px 16px;
        font-weight: bold;
        img{
            width: 14px;
            margin-top: 10px;
        }
    }
    p{
        font-size: 16px;
        font-weight: bold;
        opacity: 0.4;
        margin-bottom: 60px
    }
}
.artists{
    @include pa();
    width: $wid;
    ul{
        width: $wid;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        position: relative;
        li{
            position: relative;
            padding-bottom: 15px;
            a{
                z-index: 10;
                display: flex;
                img{
                    width: 406px; 
                    height: auto;
                    flex-grow: 1;
                    margin-bottom: 15px;
                }
            p{  
                width: $wid;
                height: 406px;
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                font-size: 24px;
                font-weight: bold;
                color: #fff;
                position: absolute;
                left: 0%; top: 0%;
                opacity: 0;
                transition: 0.5s;
                background: linear-gradient(0deg, rgba(253,231,0,1) 0%, rgba(253,231,0,0) 100%) !important;
            span{   
                display: block;
                font-size: 16px;
                }
            }
        }
    }
        li:hover p{ 
            opacity: 1; 
        }
        li:nth-of-type(4n){
            margin-right: 0px;
        }
    }
}
.back1{
    display: none;
}
@import "../scss/_m-artist"; 