@import "rest.css";

header{
    width: 100%;
    position: sticky;
    top:0;
    background-color: white;
    
}
.head{
    width: 1700px;
    margin: 0 auto;
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
}
.logo{
    padding: 40px 0;
    a{
        img{
            width: 60px; height: 60px;
        }
    }
}
.menu{
    flex-grow: 1;
    margin-left: 50px;
    padding-right:10px ;
    a{
        font-weight: bold;
        padding-right: 20px;
        color: black;
        text-decoration: none;
    }
}
.icon{
    display: flex;
    justify-content: end;
    height: 30px;
    a{
        color: black;
        padding-right: 20px;
        i{ 
        }
        img{
            margin-top: 4px;
            width: 14px; height: 15px;
        }
    }
}
.icon:hover > a{
    color: gray;
}
.icon:hover a > img{
    color: gray;
}
/* ===============================main========================================= */
main{}
.video{
    margin: 0 100px;
    iframe{}
}
.a-about{
    margin: 0 100px;
    h4{
        font-size: 30px;
        margin-bottom: 16px;
    }
    img{
        margin-top: 7px;
        width: 14px;
    }
}
.a-btn{
    margin: 70px 100px;
    padding: 20px 20px;
    width: 260px;
    border: 1px solid black;
    p{
        font-weight: bold;
        a{
            i{
                padding-left: 100px;
            }
        }
    }
}
.a-btn:hover{
    transition: 1s ;
    background-color: #fde700;
}

.feed{
    width: 100%; height: 110vh;
    background-color: #fafafa;
    margin: 220px auto;
    h4{
        margin: 0 110px;
        padding: 100px 0 50px;
        font-size: 32px;
        img{
            margin-top: 7px;
            width: 14px;
        }
    }
    ul{
        width: 1740px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 90px;
        padding: 20px;
        li{ 
            a{
                
                img{
                    flex-grow: 1;
                    padding: 3px 0; 
                    width: 420px; height: 370px;
                }
            }
        }
    }
}
.a-artist{
    margin: 0 100px;
    
    h4{
        font-size: 32px;
        margin-bottom: 16px;
    }
    img{
        margin-top: 7px;
        width: 14px;
    }
}
.a-btn1{
    margin: 70px 100px;
    padding: 20px 20px;
    width: 260px;
    border: 1px solid black;
    p{
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        
        a{
            i{
                padding-right: 10px;
            }
        }
    }
}
.a-btn1:hover{
    transition: 1s ;
    background-color: #fde700;
}
.artist{
    ul{
        width: 1740px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-left: 80px;
        li{
            a{
                img{
                    width: 406px; height: 406px;
                    padding: 0 10px; 
                }
            }
        }
    }
}
/* ==========================================footer============================ */
.foot{
    width: 100%; height: 100%;
    background-color: #fafafa;
    margin-top: 120px ;
    display: flex;
    justify-content: space-between;
    padding: 50px 90px 0px ;
    
}
.logo2{

    a{
        img{
            width: 200px; height: 33px;
        }
    }
}
.add{   
        display: flex;
        flex-direction: column;
        justify-content:start ;
        margin-right: 500px;
    h6{
        font-size: 16px;
        margin-bottom: 10px;
    }
    a{
        text-decoration: none;
        i{color:#bdbec0}
        span{}
    }
}
.btn2{
    margin: 30px 0;
    padding: 20px 15px;
    width: 260px;
    border: 1px solid #bdbec0;
    background-color: white;
    display: flex;
    justify-content: start;
    p{
        font-size: 14px;
        a{
            
            i{
                padding-left: 90px;
            }
        }
    }
}
.btn2:hover{
    transition: 1s ;
    background-color: #fde700;
}
.back{
    display: flex;
    justify-content: end;
    a{
        font-weight: bold;
        text-decoration: none;
        b{
            font-size: 16px;
            text-decoration: none; 
            color: rgba(54, 54, 54, 0.65);
            
            i{   }
        }
    }
}
.last{
    width: 100%; height: 100px;
    padding: 20px 80px;
    background-color: #fafafa;
    h6{
        font-size: 16px;
        border-top: 1px solid #e5e7eb;
        padding-top: 30px;
    }
}